@import './var';

.active {
  color: $secondaryColor !important;
  border-bottom: 4px solid $secondaryColor;
  left: 1rem;
}

ul {
  li .hover {
    transition: border 1 !important;

    &:hover {
      color: $secondaryColor !important;
      border-bottom: 4px solid $secondaryColor;
      left: 1rem;
    }
  }
}

.navbar-index {
  position: relative;
  z-index: 10 !important;
}
