.signup__section {
  background: linear-gradient(
      to left,
      rgba(44, 44, 44, 0.72),
      rgba(117, 19, 93, 0)
    ),
    url(../assets/wallpaperflare.com_wallpaper.png) top no-repeat;
  right: 0rem;
  left: 9rem;
  top: 0;
  height: 43.4rem;
  position: absolute;
  z-index: 0 !important;
}
